
@{
    ViewBag.Title = "Index";
}

<h2>First Page</h2>

<ul>
    <li> Your ViewBag Value is: <b>@ViewBag.EmployeeNameVB</b></li>
    <li> Your ViewData Value is: <b>@ViewData["EmployeeNameVD"]</b></li>
    <li> Your TempData Value is: <b>@TempData["EmployeeNameTD"]</b></li>
    <li>
        <a href="/TempData/Index1">Go to second Page</a>
    </li>
</ul>