@model IEnumerable<WebApplication.Models.Employee>
@{
    ViewBag.Title = "Index";
}

<table class="table table-striped" align="center">
    <tr style="border:1px solid black">
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            { 
        <tr style="border:1px solid black">
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.Address</td>
        </tr>
            }
        }
    </tbody>
</table>

