
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>@ViewBag.Name</h2>

<table class="table table-striped">
    <tr>
        <th>
            Employee Name
        </th>
    </tr>
    <tbody>
        @if (ViewBag.NameList != null)
        {
            foreach (var item in ViewBag.NameList)
            {
            <tr>
                <td>
                    @item
                </td>
            </tr>
            }
        }
    </tbody>
</table>


<!--Razor Syntax Rule With Example-->

<!--Single Statement Block-->
@{ var message = "Do You Like This Tutorial";}

<!--Inline Expression or Variable-->
<p>The Value Of My Message is : @message</p>

<!--Multi Statement Block-->
@{
    var greeting = "Welocome To MVC Tutorials";
    var weekday = DateTime.Now.DayOfWeek;
    var greetingMsg = greeting + " You are watching this on " + weekday;
}

<p>Greeting Message is : @greetingMsg</p>

