
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>@ViewBag.Name</h2>

<table class="table table-striped">
    <tr>
        <th>
            Employee Name
        </th>
    </tr>
    <tbody>
        @if (ViewBag.NameList != null)
        {
            foreach (var item in ViewBag.NameList)
            {
            <tr>
                <td>
                    @item
                </td>
            </tr>
            }
        }
    </tbody>
</table>

